.marque{
  color: aqua;
  padding-top: 20px;
}
 .blinking-text {
      font-size: 24px;
      color: rgb(109, 164, 215);
      font-weight: bold;
      animation: blink 1s infinite;
}

    @keyframes blink {
      0%   { opacity: 1; }
      50%  { opacity: 0; }
      100% { opacity: 1; }
}
.head-about h4{
  padding-left: 40px;
  padding-bottom: 20px;
}
.success-text{
  padding-left: 60px;
  padding-right: 60px;
}
.ab-img1{
  padding-left: 20px;
  height: 300px;
  width: 500px;
  border-radius: 60px;
  transition: transform 0.3s ease;
}
.ab-img1:hover{
  /* opacity: 0.7; */
   transform: scale(1.1);
}
.About-sec{
  padding-top: 40px;
  display: flex;
  gap: 40px;
  padding-right: 80px;
  padding-left: 20px;
}
.About{
  padding-left: 50px;
}
.nor-text{
  padding-left: 80px;
  padding-right: 80px;
}