
.mainregdiv {
  position: relative;
  background-image: url(../img/logo.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: hidden;
}

.mainregdiv::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../img/logo.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(8px);
  z-index: 0;
}

.mainregdiv > * {
  position: relative;
  z-index: 1;
}


.register-container {
  /* position: absolute; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: rgba(125, 219, 238, 0.447);
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease-in-out, left 0.5s ease-in-out;
}


.register-container:hover {
  transform: translate(-50%, -50%) scale(1.03);
}


.register-container.slide-in {
  left: 50%;
}

.register-container.slide-out {
  left: -100%;
}


.register-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.register-form h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: #333;
}

.register-form input {
  /* padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  outline: none; */
    margin-top: 20px;
    margin-left: 45px;
    border: none;
    border-radius: 5px;
    width: 350px;
}
.textarea{
    margin-top: 15px;
    margin-left: 42px;
    border-radius: 10px;
    width: 355px;
}

.register-form button {
  width: 30%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 12px;
  background: linear-gradient(150deg, #478cd1, #c248eb);
  color: white;
  border: none;
  border-radius: 40px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-form button:hover {
  background-color: #095dc1;
}
.reg-image{
  color: rgba(37, 38, 37, 0.871);
}
