.header {
  position: relative;
  background: linear-gradient(160deg, rgb(67, 151, 119), rgb(211, 78, 193));
  background-position: center;
}

.header-title {
  position: relative;
  letter-spacing: 2px;
  color: aliceblue;
  text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.5);
}
